<div class="container" [hidden]="formSubmitted">
  <h1>رزومه ساز آدلین</h1>
  <form #formInformation="ngForm" (ngSubmit)="onSubmit()">
    <div class="personalInfo" ngModelGroup [ngModelGroup]="'personalInfo'" #personalInfo="ngModelGroup">
      <label for="fname">نام: </label>
      <input type="text" name="fname" id="fname" ngModel required #fName="ngModel" />
      <label for="lname">نام خانوادگی: </label>
      <input type="text" name="lname" id="lname" required ngModel #lName="ngModel" />
      <label for="gender">جنسیت: </label>
      <select name="gender" id="gender" ngModel #Gender="ngModel" required>
        <option value="آقا">آقا</option>
        <option value="خانم">خانم</option>
      </select>
      <label for="dob">تاریخ تولد: </label>
      <input name="dob" type="date" required ngModel #DOB="ngModel" />
      <label for="city">محل سکونت: </label>
      <input type="text" id="city" name="city" ngModel #City="ngModel" required />
      <label for="email">ایمیل: </label>
      <input id="email" type="email" name="email" required email ngModel #Email="ngModel" />
      <label for="linkedin">آدرس لینکدین: </label>
      <input type="url" id="linkedin" name="linkedin" ngModel #linkedin="ngModel" />
      <label for="tel">تلفن همراه: </label>
      <input type="tel" name="Tel" id="tel" required ngModel #tel="ngModel" />
      <label for="webAddress">آدرس وبسایت: </label>
      <input id="webAddress" type="url" name="website" ngModel #webAddress="ngModel" />
      <label for="job">شغل: </label>
      <select name="job" id="job" required ngModel #Job="ngModel">
        <option value="توسعه دهنده وب">توسعه دهنده وب</option>
        <option value="UI/UX designer">طراح UI/UX</option>
        <option value="توسعه دهنده برنامه های دسکتاپ">
          توسعه دهنده برنامه های دسکتاپ
        </option>
        <option value="توسعه دهنده برنامه های اندرویدی">
          توسعه دهنده برنامه های اندرویدی
        </option>
      </select>
      <label for="jobDetail">سمت کاری: </label>
      <select name="jobDetail" id="jobDetail" required ngModel #JobDetail="ngModel">
        <option value="فرانت اند">توسعه دهنده فرانت اند</option>
        <option value="بک اند">توسعه دهنده بک اند</option>
        <option value="فول استک">توسعه دهنده فول استک</option>
      </select>
      <textarea placeholder="توضیحاتی بیشتر در مورد خودتان" id="about" name="aboutMe" cols="40" rows="10" ngModel
        #aboutMe="ngModel"></textarea>
    </div>
    <small *ngIf="personalInfo.invalid && personalInfo.touched">بعضی از اطلاعات نادرست هستند یا تکمیل نشده اند. لطفا آن
      ها را تصحیح
      فرمایید.</small>
    <div class="skillsInfo" ngModelGroup [ngModelGroup]="'skillsInfo'" #skillsInfo="ngModelGroup">
      <input type="checkbox" id="showAddSkillsPart" (click)="showAddSkillPart()" />
      <label for="showAddSkillsPart">اضافه کردن مهارت ها</label>
      <div class="additional" [hidden]="!wantAddSkill">
        <label for="otherSkill">مهارت های دیگر: </label>
        <input [required]="wantAddSkill" id="otherSkill" type="text" ngModel #otherSkill="ngModel" name="otherSkill" />
        <input type="button" (click)="addToSkills()" [disabled]="skillsInfo.invalid || disableDeleteAddBtn"
          value="اضافه کردن مهارت">
        <div class="addedSkills">
          <div *ngFor="let i of otherSkills">
            {{ i }}
            <button type="button" (click)="deleteSkills(i)">حذف مهارت</button>
          </div>
        </div>
      </div>
    </div>
    <div class="educationalInfo" ngModelGroup [ngModelGroup]="'educationalInfo'" #educationalInfo="ngModelGroup">
      <label for="educationalInfo">تحصیلات فعلی: </label>
      <div class="grade" *ngFor="let g of grades">
        <input type="radio" [id]="g.id" [name]="g.name" [value]="g.value" ngModel #grade="ngModel" required />
        <label [for]="g.id">{{ g.display }}</label>
      </div>
      <label for="orientation">گرایش: </label>
      <input id="orientation" type="text" ngModel #Orientation="ngModel" name="orientation" required />
      <label for="host">نام موسسه/دانشگاه: </label>
      <input id="host" type="text" required ngModel #Host="ngModel" name="host" />
    </div>
    <small *ngIf="educationalInfo.invalid && educationalInfo.touched">بعضی از اطلاعات نادرست هستند یا تکمیل نشده اند.
      لطفا آن ها را تصحیح
      فرمایید.</small>
    <input type="checkbox" name="haveJob" id="haveJob" ngModel #HaveJob="ngModel" [checked]="hasJobCheckedBtn"
      (click)="hasJob()" />
    <label for="haveJob">قبلاً شاغل بوده ام</label>
    <div class="workExperience" ngModelGroup [ngModelGroup]="'workExperience'" #workExperience="ngModelGroup">
      <div class="addWorkExp" *ngIf="hasJobCheckedBtn">
        <label for="jobTitle">عنوان شغل: </label>
        <input [required]="hasJobCheckedBtn" id="jobTitle" type="text" ngModel #JobTitle="ngModel" name="jobTitle" />
        <label for="officeName">نام شرکت: </label>
        <input [required]="hasJobCheckedBtn" type="text" id="officeName" ngModel #office="ngModel" name="officeName" />
        <label for="startCY">سال آغاز به همکاری: </label>
        <input [required]="hasJobCheckedBtn" type="text" id="startCY" ngModel #startCooperationYear="ngModel"
          name="startCY" />
        <input type="button" value="اضافه کردن" (click)="addWorkExperience()"
          [disabled]="disableAddWorkExpBtn || workExperience.invalid" />
      </div>
      <div class="showWorkExp" *ngFor="let w of workExperienceSaver">
        <div>
          <span>{{ w.jobTitle }}</span><span>{{ w.officeName }}</span><span>{{ w.startCooperationYear }}</span>
          <button type="button" (click)="deleteWorkEXP(w)">
            حذف تجربه کاری
          </button>
        </div>
      </div>
    </div>
    <input type="checkbox" id="hasCourse" (click)="hasCourse()" />
    <label for="hasCourse">قبلاً در دوره ای شرکت کردم</label>
    <div [hidden]="!participateInCourse" class="cources" ngModelGroup [ngModelGroup]="'course'" #Courses="ngModelGroup">
      <div class="addCourse">
        <label for="courseTitle">عنوان دوره: </label>
        <input [required]="participateInCourse" type="text" id="courseTitle" ngModel #courseName="ngModel"
          name="courseTitle" />
        <label for="Host">برگزارکننده دوره: </label>
        <input [required]="participateInCourse" type="text" id="Host" ngModel #CourseHost="ngModel" name="courseHost" />
        <label for="dateOC">تاریخ اخذ گواهی دوره: </label>
        <input [required]="participateInCourse" type="datetime" id="dateOC" name="dateOC" ngModel
          #dateOfCertified="ngModel" />
        <input type="button" value="اضافه کردن" (click)="addToCourses()"
          [disabled]="isCourseListFulled || Courses.invalid" />
        <div class="showCourses" *ngFor="let c of courseLists">
          <span>{{ c.courseTitle }}</span><span>{{ c.CourseHost }}</span><span>{{ c.dateOfCertified }}</span>
          <button type="button" (click)="deleteCourse(c)">حذف دوره</button>
        </div>
      </div>
    </div><br>
    <input type="submit" value="دریافت رزومه" [disabled]="
        personalInfo.invalid ||
        educationalInfo.invalid"
      [ngClass]="{'disabledSubmitBTN' : personalInfo.invalid || educationalInfo.invalid , 'enabledSubmitBTN' : personalInfo.valid && educationalInfo.valid}" />
  </form>
</div>
<div class="CV">
  <div class="mainInfo"
    [ngClass]="{'mainInfo': formSubmitted, 'hidden' : !formSubmitted, 'bgColorForMale' : gender=='آقا','bgColorForFemale':gender=='خانم' }">
    <div class="rightSide">
      <div class="Avatar">
        <p>{{ firstName.charAt(0) }} {{ lastName.charAt(0) }}</p>
      </div>
      <div class="personalInfo">
        <ng-template #nothingExist>
          <p class="mySkils">هیچ اطلاعاتی اضافه نشده است.</p>
        </ng-template>
        <!-- if a values of everything isn't exist show this message -->
        <h2>{{ firstName }} {{ lastName }}</h2>
        <h3>{{job}} : {{ jobDetail }}</h3>
        <p class="info">جنسیت: {{gender}}</p>
        <p class="info">محل سکونت: {{city}}</p>
        <p class="info">تلفن همراه: {{phoneNumber}}</p>
        <p class="info">تاریخ تولد: {{dateOfBirth}}</p>
        <p class="info">ایمیل: {{email}}</p>
        <p class="info" *ngIf="website">آدرس وبسایت: {{website}}</p>
        <p class="info" *ngIf="linkedinAddress">آدرس لینکدین: {{linkedinAddress}}</p>
        <div class="aboutMe">
          <h3>درباره من</h3>
          <p class="info" *ngIf="moreInfo.length != 0; else nothingExist">{{moreInfo}}</p>
        </div>
      </div>
      <div class="skills">
        <h3>مهارت های من</h3>
        <div class="skill" *ngIf="otherSkills.length != 0;  else nothingExist">
          <p class="info" *ngFor="let s of otherSkills">
            {{s}}
          </p>
        </div>
      </div>
    </div>
    <div class="leftSide">
      <div class="education">
        <h3>سوابق تحصیلی</h3>
        <p class="info">تحصیلات فعلی: {{education}}</p>
        <p class="info" *ngIf="orientation.length != 0">گرایش تحصیلی: {{orientation}}</p>
        <p class="info">دانشگاه/موسسه: {{host}}</p>
      </div>
      <div class="jobExp">
        <h3>سوابق شغلی</h3>
        <div class="jobs" *ngIf="workExperienceSaver.length != 0; else nothingExist">
          <div class="job" *ngFor="let w of workExperienceSaver">
            <p class="info">عنوان شغل: {{w.jobTitle}}</p>
            <p class="info">نام شرکت: {{w.officeName}}</p>
            <p class="info">سال آغاز همکاری: {{w.startCooperationYear}}</p>
          </div>
        </div>
      </div>
      <div class="courses">
        <h3>دوره ها و گواهینامه ها</h3>
        <div class="course" *ngIf="courseLists.length != 0; else nothingExist">
          <div class="printedCourses" *ngFor="let c of courseLists">
            <p class="info">عنوان دوره: {{c.courseTitle}}</p>
            <p class="info">برگزارکننده دوره: {{c.CourseHost}}</p>
            <p class="info">تاریخ اخذ گواهی دوره: {{c.dateOfCertified}}</p>
          </div>
        </div>
      </div>
    </div>
    <button id="printCV" type="button" (click)="printCV()" *ngIf="isShownDownloadBTN">چاپ رزومه</button>
  </div>
</div>